 @import url("https://use.typekit.net/wsy2zky.css");
 @import url('https://fonts.googleapis.com/css2?family=Signika:wght@700&display=swap');

 html {
     font-size: 10px;
 }


 body {
     display: grid;
     font-family: Helvetica sans-serif;
     background-color: #efe1e1;
     grid-template-areas:
         "hd"
         "mn"
         "ft";

 }


 header {
     grid-area: hd;
     display: grid;


 }



 main {
     display: grid;
     grid-area: mn;
     grid-template-areas:
         "sc sc gi"


 }


 nav ul {
     grid-area: gn;
     list-style: none;
     padding: 0;
     display: flex;
     justify-content: space-around;
     border: solid white 2px;
 }

 ul {
     font-size: 4rem;
     font-family: 'Signika', sans-serif;

 }

 nav li {

     padding-right: 0;
     color: #EA8B86;

 }



 li a:link {
     color: #EA8B86;
     text-decoration: none;
 }

 li a:visited {
     color: #EA8B86;
     text-decoration: none
 }

 li a:hover {
     color: #D6BABA;
     text-decoration: none
 }



 nav a {

     text-decoration: none;

 }


 #screen {
     position: relative;
     grid-area: sc;
     width: 65vw;
     height: 45vw;
     overflow: hidden;

 }


 #game {
     width: 100%;
     height: 100%;
 }


 .gameinfo {
     grid-area: gi;
     font-family: 'Helvetica', sans-serif;
     font-weight: 100;
     font-size: 2rem;
     text-align: left;
     margin-left: 20px;
 }

 /*
 .copyright {
     grid-area: cr;
     font-family: 'Helvetica', sans-serif;
     font-weight: 100;
     font-size: 1.5rem;
     text-align: left;
     margin-top: 27rem;
     margin-left: 20px;
 }*/

 #game_background {
     position: static;
     background-image: url(assets/game-screen-2.svg);
     background-size: 100%;
     height: 36.56vw;
     width: 65vw;
 }

 #game_foreground {
     position: absolute;
     top: 12.3vw;
     left: 19vw;
     background: url(assets/ramen-character.svg);
     background-size: 100%;
     height: 23.5vw;
     width: 23.5vw;
     pointer-events: none;
     z-index: 10;
 }



 #score_board {
     position: absolute;
     font-family: urbane-rounded, sans-serif;
     font-size: 1.8vw;
     font-weight: 300;
     font-style: normal;
     color: black;
     top: 1.1vw;
     left: 58vw;


 }



 #settings {
     position: absolute;
     top: 1.07vw;
     left: 0.9vw;
     background: url(assets/settings-wheel-background.svg);
     background-size: contain;
     height: 2.8vw;
     width: 2.8vw;
 }

 #settings:hover {
     transform: scale(1.1);
 }


 #settings_board {
     position: absolute;
     top: 5vw;
     left: 12.5vw;
     background: url(assets/settings-screen.svg);
     background-size: 100%;
     height: 59%;
     width: 60%;
     z-index: 12;
 }

 #time_board {
     position: absolute;
     font-family: urbane-rounded, sans-serif;
     font-weight: 300;
     font-style: normal;
     font-size: 2vw;
     color: black;
     top: 1.1vw;
     left: 11vw;
 }

 #health_board {
     position: absolute;
     display: flex;
     justify-content: space-around;
     text-align: center;
     top: 1vw;
     left: 38vw;
     width: 10vw;
     height: 3vw;
     flex-direction: row;
 }

 #life1 {
     position: absolute;
     height: 2.9vw;
     width: 2.6vw;
 }

 #life2 {
     position: absolute;
     height: 2.9vw;
     width: 2.6vw;
 }

 #life3 {
     position: absolute;
     height: 2.9vw;
     width: 2.6vw;

 }


 .ramen-grey {
     background: url(assets/grey-life.svg);
     background-size: contain;
     height: 2.9vw;
     width: 2.6vw;

 }

 .ramen-red {

     background: url(assets/red-life.svg);
     background-size: contain;
     height: 2.9vw;
     width: 2.6vw;

 }



 #mushroom {
     background: url(assets/mushroom.svg);
     background-size: contain;
     height: 5vw;
     width: 5.7vw;

 }



 .pos1 {
     position: absolute;
     top: 10vw;
     left: 30vw;

 }

 .fall1 {
     animation-name: fall1;
     animation-duration: 7s;
     animation-iteration-count: infinite;
     animation-timing-function: linear;

 }



 @keyframes fall1 {
     from {
         transform: translateY(-80vw);

     }

     to {
         transform: translateY(8vw);

     }
 }


 .scaleDown1 {
     opacity: 100%;
     animation: scaleDown1 1s;
     animation-fill-mode: forwards;
 }


 @keyframes scaleDown1 {

     from {
         opacity: 100%;
     }

     to {
         opacity: 0;
     }
 }

 .stop1 {
     animation-play-state: paused;
 }

 .restart1 {
     animation-play-state: running;
 }


 #egg {

     background: url(assets/egg.svg);
     background-size: contain;
     height: 4.9vw;
     width: 4.3vw;

 }

 .pos2 {
     position: absolute;
     top: 14vw;
     left: 25vw;

 }

 .fall2 {
     animation-name: fall2;
     animation-duration: 3.5s;
     animation-iteration-count: infinite;
     animation-timing-function: linear;

 }

 /*

  @keyframes fall2 {
      from {
          transform: translateY(-35vw);

      }

      to {
          transform: translateY(5vw);

      }

  }
*/

 @keyframes fall2 {

     0% {
         transform: translateY(-35vw);
     }

     20% {
         transform: translateY(-10vw)translateX(5vw)rotate(90deg);
     }

     40% {
         transform: translateY(-5vw)translateX(10vw);
     }

     100% {
         transform: translateY(10vw);
     }
 }

 .scaleDown2 {
     opacity: 100%;
     animation: scaleDown2 1s;
     animation-fill-mode: forwards;
 }


 @keyframes scaleDown2 {

     from {
         opacity: 100%;
     }

     to {
         opacity: 0;
     }
 }

 .stop2 {
     animation-play-state: paused;
 }

 .restart2 {
     animation-play-state: running;
 }



 #fish {

     background: url(assets/fish-cake.svg);
     background-size: contain;
     height: 5vw;
     width: 6.5vw;
 }

 .pos3 {
     position: absolute;
     top: 4vw;
     left: 26vw;
 }

 .fall3 {
     animation-name: fall3;
     animation-duration: 4s;
     animation-iteration-count: infinite;
     animation-timing-function: linear;

 }

 @keyframes fall3 {

     0% {
         transform: translateY(-35vw);
     }

     40% {
         transform: translateY(-5vw)translateX(1vw)rotate(270deg);
     }

     70% {
         transform: translateY(2vw)translateX(5vw);
     }

     100% {
         transform: translateY(10vw);
     }
 }

 .scaleDown3 {
     opacity: 100%;
     animation: scaleDown3 1s;
     animation-fill-mode: forwards;
 }


 @keyframes scaleDown3 {

     from {
         opacity: 100%;
     }

     to {
         opacity: 0;
     }
 }


 .stop3 {
     animation-play-state: paused;
 }

 .restart3 {
     animation-play-state: running;
 }



 #poison {
     background: url(assets/poison.svg);
     background-size: 100%;
     height: 5.2vw;
     width: 4vw;

 }

 .pos4 {
     position: absolute;
     top: 14vw;
     left: 35vw;
 }

 .fall4 {
     animation-name: fall4;
     animation-duration: 4s;
     animation-iteration-count: infinite;
     animation-timing-function: linear;

 }



 @keyframes fall4 {
     0% {
         transform: translateY(-40vw);

     }

     40% {
         transform: translateY(-10vw)translateX(2vw)scale(1.5);
     }

     70% {
         transform: translateY(1vw)translateX(-5vw)scale(0.5);
     }

     100% {
         transform: translateY(5.5vw);

     }

 }

 .scaleDown4 {
     opacity: 100%;
     animation: scaleDown4 1s;
     animation-fill-mode: forwards;
 }


 @keyframes scaleDown4 {

     from {
         opacity: 100%;
     }

     to {
         opacity: 0;
     }
 }

 .stop4 {
     animation-play-state: paused;
 }

 .restart4 {
     animation-play-state: running;
 }

 #candy {
     background: url(assets/candy.svg);
     background-size: contain;
     height: 5vw;
     width: 6.5vw;

 }

 .pos5 {
     position: absolute;
     top: 18vw;
     left: 23vw;
 }

 .fall5 {
     animation-name: fall5;
     animation-duration: 5.5s;
     animation-iteration-count: infinite;
     animation-timing-function: linear;

 }

 @keyframes fall5 {
     0% {
         transform: translateY(-30vw);

     }

     40% {
         transform: translateY(-3vw)translateX(2vw)rotate(230deg);
     }

     70% {
         transform: translateY(1vw)translateX(2.5vw)rotate(360deg);
     }

     100% {
         transform: translateY(4vw);

     }

 }



 .scaleDown5 {
     opacity: 100%;
     animation: scaleDown5 1s;
     animation-fill-mode: forwards;
 }


 @keyframes scaleDown5 {

     from {
         opacity: 100%;
     }

     to {
         opacity: 0;
     }
 }

 .stop5 {
     animation-play-state: paused;
 }

 .restart5 {
     animation-play-state: running;
 }


 #poison1 {
     background: url(assets/poison.svg);
     background-size: 100%;
     height: 5.2vw;
     width: 4vw;

 }

 .pos6 {
     position: absolute;
     top: 10vw;
     left: 30vw;
 }

 .fall6 {
     animation-name: fall6;
     animation-duration: 6.5s;
     animation-iteration-count: infinite;
     animation-timing-function: linear;

 }



 @keyframes fall6 {
     0% {
         transform: translateY(-70vw);

     }

     40% {
         transform: translateY(-10vw)translateX(-10vw)scale(2);
     }


     80% {
         transform: translateY(4vw)translateX(-12vw)scale(1);
     }

     100% {
         transform: translateY(6vw);

     }

 }

 .scaleDown6 {
     opacity: 100%;
     animation: scaleDown6 1s;
     animation-fill-mode: forwards;
 }


 @keyframes scaleDown6 {

     from {
         opacity: 100%;
     }

     to {
         opacity: 0;
     }
 }

 .stop6 {
     animation-play-state: paused;
 }

 .restart6 {
     animation-play-state: running;
 }

 #candy1 {
     background: url(assets/candy.svg);
     background-size: contain;
     height: 5vw;
     width: 6.5vw;

 }

 .pos7 {
     position: absolute;
     top: 18vw;
     left: 23vw;
 }

 .fall7 {
     animation-name: fall7;
     animation-duration: 6.5s;
     animation-iteration-count: infinite;
     animation-timing-function: linear;

 }

 @keyframes fall7 {

     0% {
         transform: translateY(-35vw);
     }

     20% {
         transform: translateY(-10vw)translateX(8vw)rotate(270deg);
     }

     40% {
         transform: translateY(-7vw)translateX(6vw)rotate(270deg);
     }

     60% {
         transform: translateY(-2vw)translateX(5vw);
     }

     80% {
         transform: translateY(3vw)translateX(8vw);
     }

     100% {
         transform: translateY(5.5vw);
     }
 }



 .scaleDown7 {
     opacity: 100%;
     animation: scaleDown7 1s;
     animation-fill-mode: forwards;
 }


 @keyframes scaleDown7 {

     from {
         opacity: 100%;
     }

     to {
         opacity: 0;
     }
 }

 .stop7 {
     animation-play-state: paused;
 }

 .restart7 {
     animation-play-state: running;
 }


 footer {
     display: grid;
     grid-area: ft;
     font-family: 'Helvetica', sans-serif;
     font-size: 1.5rem;
     font-weight: 100;
 }


 #title_screen {
     background: url(assets/start-screen.svg);
 }

 #instructions {
     background: url(assets/instructionscreen.svg);
     position: absolute;
     top: 1.5vw;
     left: 7vw;
     width: 75%;
     height: 75%;
     background-size: 100%;
     z-index: 12;
     display: grid;
 }

 #instructions {
     display: grid;
     grid-template-areas:
         ". div"
         "img div"
         ". div";
     grid-template-columns: 2fr 2fr;
 }

 img {
     grid-area: img;

     max-width: 90%;
 }

 div {
     grid-area: div;
     display: flex;
     flex-direction: column;
 }

 h1 {
     grid-area: h1;
     margin-top: 5vw;
     font-family: urbane-rounded, sans-serif;
     font-size: 1.8vw;
     font-weight: 600;
     color: #EA8B86;
 }

 p1 {
     grid-area: p1;
     font-family: urbane-rounded, sans-serif;
     font-size: 1.4vw;
     font-weight: 400;
     color: #939390;
     padding-bottom: 1vw;
     margin-right: 2vw;
 }

 .poison-ins {
     max-width: 10%;
 }

 .candy-ins {
     max-width: 13%;
 }

 p2 {
     grid-area: p2;
     font-family: urbane-rounded, sans-serif;
     font-size: 1.4vw;
     font-weight: 400;
     color: #939390;
     padding-bottom: 1vw;
     margin-right: 2vw;


 }

 .mush-ins {
     max-width: 10%;

 }

 .egg-ins {
     max-width: 8%;

 }

 .fish-ins {
     max-width: 10%;
 }

 p3 {
     grid-area: p3;
     font-family: urbane-rounded, sans-serif;
     font-size: 1.4vw;
     font-weight: 400;
     color: #939390;
     padding-bottom: 3vw;
     margin-right: 2vw;

 }

 p4 {
     grid-area: p4;
     font-family: urbane-rounded, sans-serif;
     font-size: 1.3vw;
     font-weight: 600;
     color: #EA8B86;

 }



 #exit1 {
     background: url(assets/close-button.svg);
     position: absolute;
     top: 2.5vw;
     left: 50.5vw;
     width: 3vw;
     height: 3vw;
     background-size: 100%;
     z-index: 13;

 }

 #exit1:hover {
     transform: scale(1.1);
 }

 #game_over {
     position: absolute;
     top: 1.5vw;
     left: 7vw;
     width: 75%;
     height: 75%;
     background: url(assets/you-lost-screen.svg);
     background-size: 100%;
     z-index: 11;

 }

 #score_left1 {
     position: absolute;
     font-family: urbane-rounded, sans-serif;
     font-size: 5vw;
     font-weight: 500;
     color: #AF3C02;
     top: 15.5vw;
     left: 33.5vw;



 }

 #tryagain {
     position: absolute;
     background: url(assets/try-again-button.svg);
     background-size: 100%;
     z-index: 12;
     top: 25.5vw;
     left: 34vw;
     width: 26%;
     height: 8.7%;
     /*
     width: 27vw;
     height: 6vw;
*/

 }



 #homebutton {
     position: absolute;
     background: url(assets/home-button.svg);
     background-size: 100%;
     z-index: 12;
     top: 30vw;
     left: 34vw;
     width: 26%;
     height: 8.7%;

 }


 #level_complete {
     background: url(assets/you-won-screen.svg);
     position: absolute;
     top: 1.5vw;
     left: 7vw;
     width: 75%;
     height: 75%;
     background-size: 100%;
     z-index: 12;

 }

 #score_left2 {
     position: absolute;
     font-family: urbane-rounded, sans-serif;
     font-size: 5vw;
     font-weight: 500;
     color: #7DBA74;
     top: 15.5vw;
     left: 32.5vw;



 }

 .hidden {
     visibility: hidden;
 }

 .paused {
     animation-play-state: paused;
 }

 #replay {
     background: url(assets/re-start.svg);
     position: absolute;
     top: 18vw;
     left: 28vw;
     width: 8vw;
     height: 6.5vw;
     background-size: 100%;
     z-index: 13;
 }

 #replay:hover {
     transform: scale(1.1);

 }

 #home {
     background: url(assets/home.svg);
     position: absolute;
     top: 18vw;
     left: 39vw;
     width: 9vw;
     height: 7vw;
     background-size: 100%;
     z-index: 13;
 }

 #home:hover {
     transform: scale(1.1);
 }

 #sound {
     position: absolute;
     top: 18vw;
     left: 15vw;
 }

 .sound-on {
     background: url(assets/mute-off.svg);
     width: 9vw;
     height: 7vw;
     background-size: 100%;
     z-index: 13;
 }

 .sound-off {
     background: url(assets/mute-on.svg);

     width: 9vw;
     height: 7vw;
     background-size: 100%;
     z-index: 13;
 }


 #play {}



 #tryagain2 {
     position: absolute;
     background: url(assets/try-again-button.svg);
     background-size: 100%;
     z-index: 13;
     top: 26vw;
     left: 32.5vw;
     width: 32%;
     height: 10.5%;
 }

 #exit {
     background: url(assets/close-button.svg);
     position: absolute;
     top: 6vw;
     left: 46.5vw;
     width: 3vw;
     height: 3vw;
     background-size: 100%;
     z-index: 14;

 }

 #exit:hover {
     transform: scale(1.1);
 }



 #title_screen {
     background: url(assets/start-screen.svg);
     position: absolute;
     top: 1.5vw;
     left: 7vw;
     width: 75%;
     height: 75%;
     background-size: 100%;
     z-index: 12;

 }

 #startbutton {
     background: url(assets/start-button.svg);
     background-size: 100%;
     position: absolute;
     width: 25%;
     height: 9%;
     top: 28.5vw;
     left: 34vw;
     z-index: 12;

 }

 #howtoplay {
     background: url(assets/how-to-play.svg);
     background-size: 100%;
     position: absolute;
     width: 25%;
     height: 9%;
     top: 28.5vw;
     left: 14vw;
     z-index: 12;
 }

 .pulse {
     animation: pulse 2s infinite;
 }

 @keyframes pulse {

     0%,
     100% {
         transform: scale(1, 1);
     }

     50% {
         transform: scale(1.1, 1.1);
     }
 }



 @media only screen and (min-width: 350px) and (max-width: 700px) {



     main {
         display: grid;
         grid-area: mn;
         grid-template-areas:
             "sc sc"
             "gi gi";


     }

     .gameinfo {
         margin-left: 0;
         margin-bottom: 3vw;
     }


     #score_board {
         font-size: 1rem;
     }


     #time_board {
         font-size: 1rem;
     }



 }

 /*
